header {
  display: flex;
  justify-content: center;
  align-items: center;
  height:400px;
  width: 100%;
  flex-direction: column;
  margin-top: 110px;
  background-color: #a67700;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");


}
header h2{
  margin:0;
}