.new-tweet {
  align-items: flex-start;
  align-content: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-bottom: 20px;
  width : 100%;
}
main textarea {
  border-width: 0 0 2px 0 ;
  border-color: black; 
  background-color: white;
  height:70px;
  margin: 10px 20px 0px 30px;
  resize: none;
  text-decoration-color: black;
  width : 95%;
}

.submit_counter {
  align-items: center;
  align-self: center;
  display:flex;
  justify-content: space-between;
  margin: 0px 0px 10px 20px;
  width:90%;
}

button {
  background-color: blue;
  color:white;
  cursor: pointer; 
  font-size:large;
  font-weight: bolder;
  font-family: 'Bungee', cursive;
  height: 35px;
  margin-left: 20px;
  min-width: 80px;
  border:2px solid rgb(9, 9, 149);
  border-radius: 10%;
  width: 10%;
}

button:hover{
  background-color: rgb(134, 25, 212);
  color:yellow;
}

.t_area {
  justify-content: center;
  margin-right: 10px;
  width:100%;
}
form {
  margin-top: 20px;
  width:100%;
}

label {
 margin-left: 10px; 
}

output {
  font-weight: bold;
}

#label-humming {
  margin-left: 25px;
}

#error-msg {
  align-self: center;
  border: 3px solid red;
  color:red;
  font-weight: bold;
  justify-content: center;
}