.tweet-container {
  align-items: center;
  background-color: white;
  display:flex;
  flex-direction: column;
  height:auto;
  justify-content: flex-start;
}

.tweet-container header{
  align-items: center;
  background-color: white;
  background-image: none;
  display:flex;
  flex-direction: row;
  height:80px;
  justify-content: space-between;
  margin-top:0px;
  width: 95%;
}

.tweet-border {
  align-items: center; 
  background-color: white;
  border: 4px solid rgb(50, 45, 45);
  display: flex;
  flex-direction: column;
  height:220px;
  justify-content: center;
  margin:20px 0px 20px 0px;
  width:95%;
}

article{
  height:80px;
  width:95%;
}

.oldtweet-text{
  border-width: 0 0 2px 0 ;
  border-color: black; 
  border-style: solid;
  height:min-content;
  resize:none;
  width:95%;
}



article.tweet-border:hover {
  box-shadow:5px 5px; 
}

footer i:hover {
  color:yellow;
  transition: 0.3s; 
}

.name-label {
margin-top:25px;
margin-left:10px;
}
.pic_name{
  display:flex;
}




footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:90%;
  height: 50px;
}

header label{
  margin-left: 0px;
  margin-right: 10px;
}

.tweet-container img{
  height:60px;
  width:80px;
}

#topButton {
  display: none;  
  position: fixed;  
  bottom: 20px;  
  right: 20px;  
  z-index: 3; 
  border: 2px solid rgb(82, 6, 82);
  background-color: rgb(9, 18, 181);
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 5px;
  font-size: 16px; 
  width:120px;
  height:50px;
  font-family: 'Bungee', cursive;
  font-weight: bold;
  text-align:center;
  padding-bottom: 5px;
}

#topButton:hover {
  background-color: rgb(82, 6, 82);
  color:yellow;
}